$primary: #3c48c9;
$success: #03336d;
$info: #c4457a;
$warning: rgb(195, 180, 19);
$secondary: rgb(14, 137, 90);
$border-width: 2px;
/* You can add global styles to this file, and also import other style files */
@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";