/* You can add global styles to this file, and also import other style files */
$primary: #b70952;
$success: #03336d;
$info: #b4b6c5;
$warning: rgb(195, 180, 19);
$secondary: rgb(11, 61, 73);
$danger: rgb(187, 30, 5);
$border-width: 2px;
/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

.card {
  border: 1px solid black;
  box-shadow: 2px 2px black;
}

.btn {
  box-shadow: 3px 3px black;
  transform: translate(-3px, -3px);
  transition: unset;
  margin-right: 10px;
  margin-bottom: 10px;
  color: white;
  &:active {
    box-shadow: 1px 1px black;
    transform: translate(-1px, -1px);
  }
  &:disabled {
    box-shadow: unset;
    transform: unset;
  }
}

.navbar a {
  &:hover {
    text-shadow: 2px 2px black;
    transform: translate(-2px, -2px);
  }
}

.navbar {
  border-bottom: 3px solid black;
}

.nav-item span {
  cursor: pointer;
  &:hover {
    text-shadow: 2px 2px black;
    transform: translate(-2px, -2px);
  }
}

.no-outline {
  resize: none;
  &:focus {
    outline: none;
  }
}

.editor-base {
  height: calc(100vh - 75px);
}

.editor-error {
  border: 0;
  border-bottom: 1px solid var(--bs-danger);
}

p.markdown img {
  width: 100vw;
  max-width: 100%;
}

.toast-wrapper {
  max-width: 200px;
  right: 20px;
  top: 75px;
  z-index: 1;
  transition: opacity 0.3s ease;
}

.navbar .dropdown-item {
  &:hover {
    transform: unset;
    text-shadow: unset;
  }
}
.material-symbols-outlined.action {
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    text-shadow: 2px 2px var(--bs-secondary);
    transform: translate(-2px, -2px);
  }
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(239, 226, 209, 0.858);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 15px solid;
  border-color: #cb095a transparent #cb095a transparent;
  border-radius: 50%;
  animation: spin 1.7s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}

html, body { height: 100%; font-weight: bold; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
